.scrollSidebar {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: 60px;
    bottom: 0;
    width: 240px;
    position: fixed;
    padding-right: 8px;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &:hover .scrollBar {
        opacity: 1;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px 0 26px 8px;
    box-sizing: border-box;
    z-index: 1;
}

.scrollBar {
    position: absolute;
    padding: 0 4px;
    top: 0;
    transition: opacity 0.5s;
    opacity: 0;
    right: 0;
    transform-origin: right top;
    height: 400px;
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1) scale(1.9297) translateZ(-0.929697px)
        translateZ(-2px);
}

.light {
    .scrollBarThumb {
        width: 6px;
        height: 100%;
        border-radius: 3px;
        background: #1618230f;
    }
}

.dark {
    .scrollBarThumb {
        width: 6px;
        height: 100%;
        border-radius: 3px;
        background: #ffffff14;
    }
}

// Log In
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    border-top: 1px solid #f1f1f2;
    padding: 20px 8px 24px;
}

.title {
    color: #16182380;
    font-size: 1.6rem;
}

.btnLogin {
    width: 208px;
    height: 48px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.about {
    border-top: 1px solid #f1f1f2;
    display: flex;
    flex-wrap: wrap;
}

.text {
    margin-top: 10px;
    margin-right: 5px;
    color: #16182380;
    font-size: 1.2rem;
    padding: 0;
}
