.light {
    &.wrapper {
        border-top: 1px solid #1618231f;
    }
}

.dark {
    &.wrapper {
        border-top: 1px solid #ffffff1f;
    }
}
.label {
    font-size: 1.4rem;
    font-weight: 600;
    color: #161823bf;
    padding: 16px 8px 0 8px;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &:hover .scrollSidebar {
        overflow-y: visible;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 700;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.name {
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
    text-overflow: ellipsis;
    overflow: hidden;
}

.check {
    color: rgb(32, 213, 236);
    width: 14px;
    margin-left: 4px;
}

.see-all {
    color: #fe2c55;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    padding: 8px;
}
