.search-result {
    width: 415px;
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
}

.search {
    width: 415px;
    position: relative;
    background: #1618230f;
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    height: var(--search-height);
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        font-size: 1.6rem;
        color: var(--black);
        caret-color: rgb(254, 44, 85);
        background-color: transparent;
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: var(--search-width-btn);
        height: 28px;
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.dark {
    &.search {
        width: 415px;
        position: relative;
        background: rgb(255 255 255 / 12%);
        border-radius: var(--search-border-radius);
        padding-left: 16px;
        height: var(--search-height);
        display: flex;
        border: 1.5px solid transparent;
    }

    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        font-size: 1.6rem;
        color: #ffffffe6;
        caret-color: rgb(254, 44, 85);
        background-color: transparent;
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: var(--search-width-btn);
        height: 28px;
        width: 1px;
        background-color: #ffffff14;
    }

    &:hover,
    .search-btn:hover {
        border-color: #ffffff1f;
        background-color: #ffffff1f;
    }
}

.light {
    .clear,
    .loading {
        position: absolute;
        right: calc(var(--search-width-btn) + 16px);
        top: 50%;
        transform: translateY(-50%);
        color: rgba(22, 24, 35, 0.34);
        font-size: 1.4rem;
        background-color: transparent;
    }
    .loading {
        animation: spinner linear 1s infinite;
    }
}

.dark {
    .clear,
    .loading {
        position: absolute;
        right: calc(var(--search-width-btn) + 16px);
        top: 50%;
        transform: translateY(-50%);
        color: #ffffff14;
        font-size: 1.4rem;
        background-color: transparent;
    }
    .loading {
        animation: spinner linear 1s infinite;
    }
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.light {
    &.search-btn {
        width: var(--search-width-btn);
        height: 100%;
        border-top-right-radius: var(--search-border-radius);
        border-bottom-right-radius: var(--search-border-radius);
        font-size: 2rem;
        font-weight: 100;
        color: rgba(22, 24, 35, 0.34);
        // background-color: #1618230f;
        &:hover {
            cursor: pointer;
            background-color: rgba(22, 24, 35, 0.03);
            color: var(--text-color);
        }

        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
}

.dark {
    &.search-btn {
        width: var(--search-width-btn);
        height: 100%;
        border-top-right-radius: var(--search-border-radius);
        border-bottom-right-radius: var(--search-border-radius);
        font-size: 2rem;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.34);
        background-color: transparent;

        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
}
